- name: Gimme some pip
  apt: name=python-pip state=latest

- name: Install/upgrade gomatic for GoCD wrangling
  pip: name="git+https://github.com/jimarnold/gomatic#egg=gomatic" state=latest

- name: install build-essential
  apt: name=build-essential state=present

- name: install libpq-dev
  apt: name=libpq-dev state=present

- name: install libsqllite3-dev
  apt: name=libsqlite3-dev state=present

- name: setup go .bashrc
  copy: src=.bashrc dest=/var/go/.bashrc owner=go group=go mode=0644

- name: create our pipelines
  script: ./configure_gocd.py 
  environment:
    CF_USERNAME: CF_USERNAME
    CF_PASSWORD: CF_PASSWORD
